html {
	box-sizing: border-box;
}

*, *::before,
*::after {
 box-sizing: inherit;
}

body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;	
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.btn {	
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding: 5px 17px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: top;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	text-align: center;	
}

/*----- навигация сайта -----*/
.main-navigation {
	width: 100%;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.site-navigation {	
	margin: 0;
	padding: 0 72px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main-navigation li {
	width: 20%;
	text-align: left;
}

.main-navigation li:nth-of-type(3),
.main-navigation li:nth-of-type(4) {
	text-align: right;
}

.main-navigation li:nth-of-type(2) {
	margin-right: 20%;
	padding: 15px 0;
}

.site-navigation a {
	color: #000000;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgb(0, 0, 0, 0.3);
}

/*----- Приветствие седоны -----*/
.welcome {	
	background-image: url(../img/welcom-bg.jpg);	
	background-size: cover;
	min-height: 510px;
	padding-top: 76px;
}

.intro {
	padding: 48px 20px 41px;
}

.page-title {
	font-size: 21px;
	margin: 10px auto 27px;	
	width: 615px;
}

.intro p {
	margin: 10px auto;	
	width: 575px;
}

/*----- Features на синем фоне -----*/
.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	counter-reset: features;
}

.features p {
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.features-item {	
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
}

.features-item-blue {
	background-color: #81b3d2;
}

.features-item-full {
	width: 100%;	
}

.features-item-full:first-of-type {
	order: -2;
}

.features-item-text {
	width: 400px;
	padding: 36px 20px 35px;
}

.features-title {
	color: #ffffff;
    font-size: 21px;
	line-height: 110%;
    font-weight: 700;
    margin: 10px auto;
    width: 210px; 
}

.features-title::after {
	margin-top: 21px;
	display: block;
	font-weight: 400;
	font-size: 14px;
	counter-increment: features;
	content: "- № " counter(features) " -"
}

.features-item-blue p {
	color: #ffffff;
	margin: 20px 44px;
	width: 273px;
}

.features-item-blue:nth-of-type(2) p{
	margin: 19px 28px;
	width: 302px;
}

/*----- Features на сером фоне -----*/
.features-item-grey {
	background-color: #eeeeee;
	color: #000000;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	padding: 36px 20px 37px;
}

.features-item-grey .features-title {
	color: #000000;
	padding: 0;
	margin: 10px auto 0;
	width: 118px
}

.features-item-grey p {
	margin: 20px 40px;
}

.features-item-grey:nth-of-type(5) p{
	margin: 20px 55px;
	width: 256px;
}

/*----- Features на белом фоне -----*/
.features-item-haslist {
	order: -1;
}

.features-sublist {
	list-style: none;
    width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.features-item-sub {
	width: 400px;
	margin: 0;
	padding: 20px 20px;
}

.features-title-sub {
	margin: 10px 0 19px;
}

.features-item-sub p{
	margin: 0 auto;
	line-height: 165%;
	width: 300px;
}

/*----- Поиск -----*/
.search {
	padding: 40px 20px 0;
	margin: 0;	
}

.search-title {
	font-size: 30px;
	line-height: 36px;
	padding: 0;
	margin: 10px auto 25px;
	width: 300px;
}

.search p {
	line-height: 24px;
	padding: 0;
	margin: 10px auto;
	width: 450px;
}

.search-btn {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	margin-top: 36px;
	padding: 30px 20px;
	display: inline-block;
	vertical-align: top;
	font-weight: 700px;
	width: 568px;
}

.search-btn:hover,
.search-btn:focus {
	color: #ffffff;
	background-color: #604e43;
}

.search-btn:active {
	color: rgb(255, 255, 255, 0.3);
	background-color: #503e33;
}

/*----- Подвал index.html -----*/
.index-footer {
	position: relative;
}

/*----- Форма регистрации -----*/
.hotel-search-wrapper {
  position: absolute;
  top: 0;
  left: 50%;

  width: 568px;
  margin-left: -284px;
  padding: 55px;

  font-size: 14px;
  font-weight: bold;
  text-align: left;

  background-color: #ffffff;
  box-shadow: 0 0 15px 7px rgba(0, 0, 1, 0.15);
}

.hotel-search-wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.hotel-search-wrapper p {
  margin: 0;
  margin-bottom: 30px;
}

.hotel-search-wrapper input {
  padding-left: 13px;
  padding-right: 38px;
  height: 38px;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.input-wrapper,
.input-half-wrap {
  position: relative;

  display: flex;
  align-items: baseline;
}

.input-wrapper input {
  width: 348px;
}

.input-half-wrap input {
  width: 38px;
  padding: 0;

  text-align: center;

  border: none;
}

.inout-wrapper label,
.adults {
  display: inline-block;
  min-width: 111px;
}

.kids {
  display: inline-block;
  min-width: 64px;
}

.input-half-wrap button {
  position: relative;
  top: -5px;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
}

.minus::before,
.plus::before {
  position: absolute;
  content: "";
  top: 17px;
  left: 13px;

  width: 12px;
  height: 3px;

  background: #a9a9a9;
}

.plus::before {
  width: 11px;
}

.plus::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 17px;

  width: 3px;
  height: 11px;

  background: #a9a9a9;
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
  background: #81b3d2;
}

input,
input:hover {
  border: 2px solid #ffffff;
}

.input-half-wrap input {
  border: none;
}

input:hover {
  background-color: #ebebeb;
}

 input:focus {
   outline: none;
   background-color: #ffffff;
   border: 2px solid #e5e5e5;
 }

 .calendar-btn {
   position: absolute;
   top: 0;
   right: 0;

   width: 38px;
   height: 38px;

   fill: #a9a9a9;
 }

 .calendar-btn:hover,
 .calendar-btn:focus {
   fill: #000000;
 }

 .calendar-btn:active {
   fill: #81b3d2;
 }

 .hotel-search-btn {
 	font-size: 21px;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	margin-top: 22px;
 	padding: 16px 20px;
 	vertical-align: top;
 	width: 458px;
 	color: #ffffff;
 	background-color: #81b3d2;
 	border: none;
 }

 .hotel-search-btn:hover,
 .hotel-search-btn:focus {
 	background-color: #669ec0;
 }

 .hotel-search-btn:active {
 	background-color: #5496bd;
 	color: rgb(255, 255, 255, 0.3);
 }

/*
.hotel-search-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	width: 568px;
	margin-left: -284px;
	padding: 55px;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	background-color: #ffffff;
	box-shadow: 0 0 15px 7px rgba(0, 0, 1, 0.15);	
}

.hotel-search-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.input-wrapper p{
	margin: 0;
	margin-bottom: 30px;
}

.input-wrapper label {
	display: inline-block;
	min-width: 111px;
}

.date {
	width: 348px;
}

.hotel-search-wrapper input {
	height: 38px;
	padding-left: 13px;
	padding-right: 38px;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

input, input:hover {
	border: 2px solid #ffffff;
}

input:hover {
	background-color: #ebebeb;
}

input {
	overflow: visible;
}

.date:hover,
.date:focus {
	background-color: #ebebeb;
	border: 2px solid #ffffff;
}

.date:active {
	background-color: #ffffff;
}

.date:hover {
	
}

.calendar-btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 38px;
	height: 38px;
	background: transparent;
	border: 2px solid #a9a9a9;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.input-half-wrap {
	width: 50%;
}

.input-wrapper,
.input-half-wrap {
	position: relative;
	display: flex;
	align-items: baseline;
}

.input-half-wrap label {

}

.minus {

}

.modal-number {

}

.plus {

}

.hotel-search-btn {

}

/*----- Карта -----*/
.map {
	width: 100%;
	height: 480px;
	padding: 0;
	margin: 0;
}

/*----- Подвал -----*/
.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 13px;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	width: 400px;
}

.social-list {
	display: flex;
	padding: 0;
	list-style: none;
	width: 255px;	
}

.social-list li {

}

.social-list li:not(:nth-of-type(3n)) {
	margin-right: 4px;
}

.social-link {	
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
	display: block;
	background-position: 50% 50%;
}

.social-list a:hover,
.social-list a:focus {
	background-color: #669ec0;
}

.social-link a:active {
	background-color: #5496bd;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	display: flex;
	align-items: center;
	width: 300px;
}

.footer-copyright a{
	font-size: 0;
	display: block;
}

.footer-copyright img {
	margin-left: 9px;
}

/*----- hotels.html -----*/
.main-navigation .main-navigation-hotel {
	color: #766357;
	pointer-events: none;
}

h1.visually-hidden,
h2.visually-hidden {
	display: none;
}

.hotel-filter {
	background-image: url(../img/hotel-filter-bg.jpg);	
	background-size: cover;
}

.hotel-filter-form {
	display: flex;
	flex-wrap: wrap;
	padding: 27px 72px 8px;
	text-align: left;
}

.hotel-filter-group {
	border: 0;
	margin: 0;
	padding: 0;
	width: 250px;
}

.hotel-filter-title {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	margin-bottom: -1px;
	padding: 0;
	font-weight: 700;
}

.hotel-filter-list {
	list-style: none;
}

.hotel-filter-item {

}

.hotel-filter-input {
	display: none;
}

.hotel-filter-item label {
	font-size: 14px;
	line-height: 21px;
	display: block;
	padding-left: 40px;
	color: #ffffff;
	margin: 26px 0;
}

/*----- Стоимость в сутки: -----*/
.hotel-filter-cost {
	padding: 0;
	margin-left: auto;
	border: 0;	
	width: 330px;
	
	color: #ffffff;
	text-transform: uppercase;
}

.filter-cost-title {
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 16px;
    line-height: 21px;
}

.prise-controls {
	position: relative;
	height: 38px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.prise-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.prise-controls .min-prise,
.prise-controls .max-prise {	
	padding: 0 4px 0 68px;
}

.prise-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	height: 38px;
}

.prise-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.range-control {
	position: relative;
	margin-bottom: 32px;
}

.scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -7px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	box-sizing: content-box;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.hotel-filter-btn {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.hotel-filter-btn:hover {
	color: #000000;
	background: #ffffff;
}

/*----- Сортировка -----*/
.hotel-sort {
	display: flex;
	flex-wrap: wrap;
	padding: 14px 72px 12px;
	border-bottom: 1px solid #e5e5e5;
	align-items: center;
}

.hotel-sort-title {
	margin-right: 49px;
	font-size: 21px;
	line-height: 26px;
}

.sort-caption {
	font-size: 12px;
	margin: 0;
	margin-right: 42px;
}

.sort-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.sort-item {
	font-size: 10px;
	margin-right: 41px;
}

.sort-item a {
	font-size: 12px;
	line-height: 18px;
	color: rgb(0,0,0,0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus {
	color: #81b3d2;	
}

.sort-item a:active {
	color: #000000;
	border-bottom: none;
}

.sort-list .btn-blue {
	color: #81b3d2;
	border-bottom: none;
}

.btn-blue{
	color: #81b3d2;
}

.btn-black {
	color: rgb(0,0,0,0.3);
}

.sort-list .btn-black {
	border-bottom: 1px dotted rgb(0,0,0,0.3);
}

.arrows {
	width: 25px;
	height: 25px;
	background: red;
	display: block;
}

.sort-arrows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 68px;
	margin-left: auto;
}

/*-----список отелей-----*/
.hotels-list {
	margin: 0;
	padding: 0px;
	list-style: none;
}

.hotels-item {
	display: flex;
	flex-wrap: wrap;
	padding: 22px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-item-image {
	padding-top: 7px;
}

.hotels-item-info {
	text-align: left;
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	width: 275px;
	align-items: flex-start;
}

.hotels-item-title {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	width: 100%;
}

.hotels-item-title:hover,
.hotels-item-title:focus {
	color: #81b3d2;
}

.hotels-item-title:active {
	color: rgb(0, 0, 0, 0.3);	
}

.hotels-item-info p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	margin: 0;
	width: 50%;
}

.btn:hover,
.btn:focus {
	background-color: #669ec0;
}

.btn:active {
	color: rgb(255, 255, 255, 0.3);	
}

.btn-dark {
	background-color: #766357;
	margin-left: 10px;	
}

.btn-dark:hover,
.btn-dark:focus {
	background-color: #604e43;
}

.hotels-item-rating {
	margin-left: auto;
}

/*
.main-footer {
	text-align: center;
}

.hotel-filter-list,
.hotels-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-item-rating {
	 text-align: right;
}

.hotel-sort-title {
	font-size: 21px;
	line-height: 26px;
}

/*   фильтр на внутренней странице  

.hotel-filter-item label::before {
	position: absolute;
	left: 0;
	top: 0;
	width: 23px;
	height: 23px;
	border-radius: 0;
}

.hotel-filter-input+label::before {
	content: url(../img/checkbox-off.svs);
}
