html {
	box-sizing: border-box;
}

*, *::before,
*::after {
 box-sizing: inherit;
}

body {
	margin: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;	
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.btn {	
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
	padding: 5px 17px;
	margin-right: 4px;
	display: inline-block;
	vertical-align: top;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	text-align: center;	
}

/*----- навигация сайта -----*/

.main-header {
	position: relative;
}

.site-navigation {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 72px;
	list-style: none;
}

.site-navigation li {
	width: 240px;
	padding: 16px 0;
}

.site-navigation a {
	display: inline-block;
	z-index: 1;
	font-weight: 700;
	color: #000000;
}

.site-navigation li:first-child {
	text-align: left;
}

.site-navigation li:last-child {
	text-align: right;
}

.site-navigation li:nth-child(2) {
	margin-right: 240px;
	padding-right: 32px;
}

.site-navigation li:nth-child(3) {
	padding-left: 32px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	width: 140px;
}

/*----- Приветствие седоны -----*/
.welcome {
	position: relative;
	background-image: url("../img/welcom-bg.jpg");
	background-size: cover;
	background-position: 0 -58px;
}

.welcome img {
	margin: 76px 0 72px;
}

.welcome::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url("../img/intro-mask.svg");
	width: 100%;
	height: 56px;
}

.intro {
	padding: 50px 20px 40px;
}

.page-title {
	font-size: 21px;
	margin: 10px auto 30px;	
	width: 615px;
}

.intro p {
	margin: 13px auto;	
	width: 575px;
}

/*----- Features на синем фоне -----*/
.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	counter-reset: features;
}

.features p {
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.features-item {	
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
}

.features-item-blue {
	background-color: #81b3d2;
}

.features-item-full {
	width: 100%;	
}

.features-item-full:first-of-type {
	order: -2;
}

.features-item-text {
	width: 400px;
	padding: 36px 20px 35px;
}

.features-item-image {
	height: 256px;
}

.features-title {
	color: #ffffff;
    font-size: 21px;
	line-height: 110%;
    font-weight: 700;
    margin: 10px auto;
    width: 210px; 
}

.features-title::after {
	margin-top: 21px;
	display: block;
	font-weight: 400;
	font-size: 14px;
	counter-increment: features;
	content: "- № " counter(features) " -"
}

.features-item-blue p {
	color: #ffffff;
	margin: 20px 44px;
	width: 273px;
}

.features-item-blue:nth-of-type(2) p{
	margin: 19px 28px;
	width: 302px;
}

/*----- Features на сером фоне -----*/
.features-item-grey {
	background-color: #eeeeee;
	color: #000000;
	width: 400px;
	display: flex;
	flex-wrap: wrap;
	padding: 36px 20px 40px;
}

.features-item-grey .features-title {
	color: #000000;
	padding: 0;
	margin: 10px auto 0;
	width: 118px
}

.features-item-grey p {
	margin: 21px 40px;
}

.features-item-grey:nth-of-type(5) p{
	margin: 20px 55px;
	width: 256px;
}

/*----- Features на белом фоне -----*/
.features-item-haslist {
	order: -1;
}

.features-sublist {
	list-style: none;
    width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.features-item-sub {
	width: 400px;
	margin: 0;
	padding: 20px 20px;
}

.features-title-sub {
	margin: 37px 0 21px;
}

.features-title-house {
	padding-top: 102px;
	padding-bottom: 0;
	background-image: url("../img/house-icon.svg");
	background-size: 75px 80px;
	background-position: top center;
	background-repeat: no-repeat;
}

.features-title-food {
	padding-top: 102px;
	padding-bottom: 0;
	background-image: url("../img/food-icon.svg");
	background-size: 75px 80px;
	background-position: top center;
	background-repeat: no-repeat;
}

.features-title-gift {
	padding-top: 102px;
	padding-bottom: 0;
	background-image: url("../img/gift-icon.svg");
	background-size: 64px 76px;
	background-position: top center;
	background-repeat: no-repeat;
}

.features-item-sub p{
	margin: 0 auto;
	line-height: 160%;
	width: 300px;
	margin-bottom: 61px;
}

/*----- Поиск -----*/
.search {
	padding: 40px 20px 0;
	margin: 0;	
}

.search-title {
	font-size: 30px;
	line-height: 36px;
	padding: 0;
	margin: 10px auto 25px;
	width: 300px;
}

.search p {
	line-height: 24px;
	padding: 0;
	margin: 12px auto;
	width: 450px;
}

.search-btn {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	margin-top: 36px;
	padding: 30px 20px;
	display: inline-block;
	vertical-align: top;
	font-weight: 700;
	width: 568px;
}

.search-btn:hover,
.search-btn:focus {
	color: #ffffff;
	background-color: #604e43;
}

.search-btn:active {
	color: rgb(255, 255, 255, 0.3);
	background-color: #503e33;
}

/*----- Подвал index.html -----*/
.index-footer {
	position: relative;
}

/*----- Форма регистрации -----*/
.hotel-search-wrapper {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 568px;
	margin-left: -284px;
	padding: 55px 55px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	box-shadow: 0 0 15px 7px rgba(0, 0, 1, 0.15);
}

.search-wrapper-show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.6s;
}

@keyframes bounce{
	0% {transform: translateX(300px);}	
	70% {transform: translateX(200px);}
	90% {transform: translateX(100px);}
	100% {transform: translateX(0);}
}

.hotel-search-wrapper form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.hotel-search-wrapper p {
	margin: 0;
	margin-bottom: 28px;
}

.hotel-search-wrapper input {
	padding-left: 13px;
	padding-right: 38px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.input-wrapper,
.input-half-wrap {
	position: relative;
	display: flex;
	align-items: baseline;
}

.input-wrapper input {
	width: 350px;
}

.input-half-wrap input {
	width: 38px;
	padding: 0;
	text-align: center;
	border: none;
}

.inout-wrapper label,
.adults {
	display: inline-block;
	min-width: 111px;
}

.entry {
	margin-right: 19px;
}

.departure {
	margin-right: 16px;
}

.adult {
	margin-right: 39px;
}

.kids {
	display: inline-block;
	min-width: 64px;
}

.input-half-wrap button {
	position: relative;
	top: -1px;
	border: none;
	width: 38px;
	height: 40px;
	background-color: #f2f2f2;
	cursor: pointer;
}

.minus::before,
.plus::before {
	position: absolute;
	content: "";
	top: 17px;
	left: 13px;
	width: 12px;
	height: 3px;
	background: #a9a9a9;
}

.plus::before {
	width: 11px;
}

.plus::after {
	position: absolute;
	content: "";
	top: 13px;
	left: 17px;
	width: 3px;
	height: 11px;
	background: #a9a9a9;
}

.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
	background: #000000;
}

.minus:active::before,
.plus:active::before,
.plus:active::after {
	background: #81b3d2;
}

input,
input:hover {
	border: 2px solid #ffffff;
}

.input-half-wrap input {
	border: none;
}

input:hover {
	background-color: #ebebeb;
}

 input:focus {
	outline: none;
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
 }

 .calendar-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 38px;
	fill: #a9a9a9;
	background-color: transparent;
	border: none;
	cursor: pointer;
 }

 .calendar-btn:hover,
 .calendar-btn:focus {
	fill: #000000;
 }

 .calendar-btn:active {
	fill: #81b3d2;
 }

 .hotel-search-btn {
 	font-size: 21px;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	margin-top: 24px;
 	padding: 16px 20px;
 	vertical-align: top;
 	width: 458px;
 	color: #ffffff;
 	background-color: #81b3d2;
 	border: none;
 	cursor: pointer;
 }

 .hotel-search-btn:hover,
 .hotel-search-btn:focus {
 	background-color: #669ec0;
 }

 .hotel-search-btn:active {
 	background-color: #5496bd;
 	color: rgb(255, 255, 255, 0.3);
 }

/*----- Карта -----*/
.map {
	width: 100%;
	height: 592px;
	padding: 0;
	margin: 0;

}

/*----- Подвал -----*/
.footer-wrapper,
.footer-wrapper-index {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;	
}

.footer-wrapper-index {
	position: absolute;
	bottom: 0;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	width: 400px;
	font-weight: 700;
}

.social-list {
	display: flex;
	padding: 0;
	list-style: none;
	width: 400px;
	justify-content: center;	
}

.social-list li:not(:nth-of-type(3n)) {
	margin-right: 4px;
}

.social-link {	
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
	display: block;
	background-position: 50% 50%;
}

.social-list a:hover,
.social-list a:focus {
	background-color: #669ec0;
}

.social-link a:active {
	background-color: #5496bd;
}

.social-link svg {
	margin-top: 16px;
}

.social-link:active svg {
	opacity: 0.3;
}

.social-link-fb svg {
	margin-top: 13px;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: center;
}

.footer-copyright a {
	display: block;
}

.footer-button {
	margin-left: 8px;
	padding-top: 7px;
}

.footer-button:hover svg {
	fill: #81b3d2;
}

.footer-button:active svg {
	fill: #bdbbbc;
}

.footer-copyright img {
	margin-left: 9px;
}

/*----- hotels.html -----*/
.main-navigation .main-navigation-hotel {
	color: #766357;
	pointer-events: none;
}

h1.visually-hidden,
h2.visually-hidden {
	display: none;
}

.hotel-filter {
	margin-bottom: 0;
	padding: 25px 72px 8px;
	text-align: left;
	background-color: #1d272c;
	background-image: url("../img/hotel-filter-bg.jpg");
	background-size: cover;
	background-position: 0 -58px;
}

.hotel-filter-form {
	display: flex;
	margin: 0;
	line-height: 21px;
	color: #ffffff;
}

.hotel-filter-group {
	width: 256px;
	margin: 0;
	padding: 0;
	border: none;
}

.hotel-filter-title {
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 16px;
	font-weight: 700;
}

.hotel-filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotel-filter-item {
	position: relative;
	display: block;
	padding-left: 40px;
	margin-bottom: 25px;
	font-size: 14px;
	cursor: pointer;
	user-select: none;
}

.hotel-filter-item input {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
	cursor: pointer;
}

.hotel-filter-item label {
	cursor: pointer;
}

input[type="checkbox"]:not(:checked)+label:before {
	content: url("../img/checkbox-off.svg");
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

input[type="checkbox"]:checked+label:after {
	content: url("../img/checkbox-on.svg");
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.2s ease;
	cursor: pointer;
}

/*----- Стоимость в сутки: -----*/
.hotel-filter-cost {
	padding: 0;
	margin-left: auto;
	border: 0;	
	width: 330px;
	
	color: #ffffff;
	text-transform: uppercase;
}

.filter-cost-title {
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 16px;
    line-height: 21px;
}

.prise-controls {
	position: relative;
	height: 38px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.prise-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.prise-controls .min-prise,
.prise-controls .max-prise {	
	padding: 0 4px 0 68px;
}

.prise-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	height: 38px;
}

.prise-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 3px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.range-control {
	position: relative;
	margin-bottom: 32px;
}

.scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -7px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	box-sizing: content-box;
}

.range-toggle:hover {
	background: #1c4f80;
	border: 9px solid #ffffff;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.hotel-filter-btn {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.hotel-filter-btn:hover {
	color: #000000;
	background: #ffffff;
}

/*----- Сортировка -----*/

.hotel-sort,
.sort-caption,
.sort-list {
	display: flex;
}

.hotel-sort,
.sort-caption {
	align-items: baseline;
}

.hotel-sort {
	padding: 12px 72px;
}

.sort-list {
	justify-content: space-between;
	width: 238px;
	padding: 0;
	list-style: none;
}

.hotel-sort-title {
	display: block;
	width: 135px;
	margin: 18px 0;
	margin-right: 29px;
	font-size: 21px;
	font-weight: 700;
	text-align: left;
}

.sort-caption {
	font-size: 12px;
	line-height: 18px;
}

.sort-caption span {
	display: block;
	width: 115px;
	text-align: left;
}

.sort-list a {
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-list a:hover,
.sort-list a:focus {
	color: #81b3d2;
}

.sort-list a:active {
	color: #000000;
	border-bottom: none;
}

.sort-list .btn-blue {
	color: #81b3d2;
	border-bottom: none;
}

.sort-arrows {
	margin-left: 495px;
}

.arrows {
	display: inline-block;
	margin: 0 5px;
	font-size: 0;
	border: 10px solid #cacaca;
	border-right-width: 5px;
	border-right-color: transparent;
	border-left-width: 5px;
	border-left-color: transparent;
}

.arrows-up {
	border-top-width: 0;	
}

.arrows-down {
	border-bottom-width: 0;
}

.arrows:hover,
.arrows:focus {
	border-top-color: #231f20;
	border-bottom-color: #231f20;
}

.arrows:active,
.active {
	border-top-color: #81b3d2;
	border-bottom-color: #81b3d2;	
}

.hotel-sort {
	border-bottom: 1px solid #e5e5e5;
}

/*-----список отелей-----*/
.hotels-list {
	margin: 0;
	padding: 0px;
	list-style: none;
}

.hotels-item {
	display: flex;
	flex-wrap: wrap;
	padding: 23px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-item-image {
	padding-top: 7px;
}

.hotels-item-info {
	text-align: left;
	margin-left: 30px;
	display: flex;
	flex-wrap: wrap;
	width: 275px;
	align-items: flex-start;
}

.hotels-item-title {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	width: 100%;
	cursor: pointer;
}

.hotels-item-title a {
	color: #000000;
}

.hotels-item-title:hover a,
.hotels-item-title:focus a {
	color: #81b3d2;
}

.hotels-item-title:active a {
	color: rgb(0, 0, 0, 0.3);	
}

.hotels-item-info p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	margin: 0;
	width: 50%;
}

.btn:hover,
.btn:focus {
	background-color: #669ec0;
}

.btn:active {
	color: rgb(255, 255, 255, 0.3);	
}

.btn-dark {
	background-color: #766357;
	margin-left: 10px;	
}

.btn-dark:hover,
.btn-dark:focus {
	background-color: #604e43;
}

.hotels-item-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
}

.hotel-item-stars {
	width: 87px;
	height: 20px;
	margin-left: auto;
	margin-bottom: 44px;
	background-image: url(../img/star.svg);
	background-repeat: space;
}

.item-stars-motel {
	width: 64px;
}

.item-stars-apartaments {
	width: 40px;
}

.hotels-item-rating p {
	color: #666666;
	background-color: #f2f2f2;
	padding: 0 14px;
	margin: 0;
}
