body {
	margin: 0;

	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}