body {
	margin: 0;

	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-align: center;	

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.welcome {	
	background-image: url(../img/welcom-bg.jpg);	
	background-repeat: no-repeat;
	text-align: center;
}

.intro {
	margin: 0;

	background-color: #ffffff;
	text-align: center;
}

.intro .page-title {
	font-size: 21px;
	line-height: 26px;
}

.intro p {
	font-size: 14px;
	line-height: 26px;
}

.features-list {
	list-style: none;
	background-color: #ffffff;
	text-align: center;
}

.features-item-blue {
	background-color: #81b3d2;
}

.features-item-blue .features-title {
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.features-item-blue p {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.features-item-grey {
	background-color: #eeeeee;
}

.features-item-grey .features-title{
	font-size: 21px;
	line-height: 21px;
}

.features-item-grey p{
	font-size: 14px;
	line-height: 21px;
}

.features-sublist {
	list-style: none;
}

.features-sublist .features-title {
	font-size: 21px;
	line-height: 21px;
}

.features-sublist p {
	font-size: 14px;
	line-height: 21px;
}

.search {
	background-color: #ffffff;
	text-align: center;
}

.search .search-title {
	font-size: 30px;
	line-height: 36px;
}

.search p {
	font-size: 14px;
	line-height: 24px;
}

.search-btn {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}

.search-btn:hover,
.search-btn:foter {
	color: #ffffff;
	background-color: #604e43;
}

.main-footer {
	background-color: #ffffff;
	text-align: center;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
}

.social-link-tw:link {
	background-color: #81b3d2;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
}

.social-link-tw:hover {
	background-color: #669ec0;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
}

.social-link-fb:link {
	background-color: #81b3d2;
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
}

.social-link-fb:hover {
	background-color: #669ec0;
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
}

.social-link-yt:link {
	background-color: #81b3d2;
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
}

.social-link-yt:hover {
	background-color: #669ec0;
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
}

.social-list {
	list-style: none;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
}

.main-navigation .main-navigation-hotel {
	color: #999;
	pointer-events: none;
}

.hotel-search-form {
	background-color: #ffffff;
	text-align: center;
}

.hotel-filter-list,
.hotels-list {
	list-style: none;
}

.hotel-filter {
	background-image: url(../img/hotel-filter-bg.jpg);	
	background-repeat: no-repeat;
}

.hotel-filter-title {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

label {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.hotel-filter-btn {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.hotel-sort-title {
	font-size: 21px;
	line-height: 26px;
}

.hotels-item-info .hotels-item-title {
	font-size: 21px;
	line-height: 26px;
}

.hotels-item-info .hotels-item-title:hover,
.hotels-item-info .hotels-item-title:focus {
	color: #81b3d2;
}

.hotels-item-info p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.btn {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}

.btn:hover,
.btn:focus {
	color: #ffffff;
	background-color: #669ec0;
}

.btn-dark {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #766357;
}

.btn-dark:hover,
.btn-dark:focus {
	color: #ffffff;
	background-color: #604e43;
}