body {
	margin: 0;

	font-family: "PT Sans Bold", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.btn {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background-color: #81b3d2;
}

.page-wrapper {
	text-align: center;
	background-color: #ffffff;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;	
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.welcome {	
	background-image: url(../img/welcom-bg.jpg);	
	background-size: cover;	
}

.intro {
	margin: 0;
}

.intro .page-title {
	font-size: 21px;
	line-height: 26px;
}

.intro p {
	font-size: 14px;
	line-height: 26px;
}

.features-list {
	list-style: none;	
}

.features-item-blue {
	background-color: #81b3d2;
}

.features-title {
    font-size: 21px;
	line-height: 21px;
    font-weight: 700;
}

.features-item-blue .features-title {
	color: #ffffff;
}

.features-item p {
	font-size: 14px;
	line-height: 21px;	
}

.features-item-blue p {
	color: #ffffff;
}

.features-item-grey {
	background-color: #eeeeee;
}

.features-sublist {
	list-style: none;
}

.search {
	background-color: #ffffff;	
}

.search-title {
	font-size: 30px;
	line-height: 36px;
}

.search p {
	font-size: 14px;
	line-height: 24px;
}

.search-btn {
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
}

.search-btn:hover,
.search-btn:focus {
	color: #ffffff;
	background-color: #604e43;
}

.search-btn:active {
	color: rgb(255, 255, 255, 0.3);
	background-color: #503e33;
}

.data {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	background-color: #f2f2f2;
}

.date:hover,
.date:focus {
	background-color: #ebebeb;
}

.date:active {
	background-color: #ffffff;
}

.main-footer {
	text-align: center;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
}

.social-link-tw {
	background-color: #81b3d2;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
}

.social-link-tw:hover,
.social-link-tw:focus {
	background-color: #669ec0;
}

.social-link-tw:active {
	color: rgb(255, 255, 255, 0.3);
	background-color: 	
}

.social-link-fb {
	background-color: #81b3d2;
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
}

.social-link-fb:hover,
.social-link-fb:focus {
	background-color: #669ec0;
}

.social-link-yt {
	background-color: #81b3d2;
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
}

.social-link-yt:hover,
.social-link-yt:focus {
	background-color: #669ec0;
}

.social-list {
	list-style: none;
}

.footer-copyright {
	font-size: 14px;
	line-height: 26px;
}

.main-navigation .main-navigation-hotel {
	color: #999;
	pointer-events: none;
}

.hotel-filter-list,
.hotels-list {
	list-style: none;
}

.hotel-filter {
	background-image: url(../img/hotel-filter-bg.jpg);	
	background-size: cover;
}

.hotel-filter-title {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
}

label {
	font-size: 14px;
	line-height: 21px;
}

.hotel-filter-btn {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.hotel-sort-title {
	font-size: 21px;
	line-height: 26px;
}

.hotels-item-title {
	font-size: 21px;
	line-height: 26px;
}

.hotels-item-title:hover,
.hotels-item-title:focus {
	background-color: #81b3d2;
}

.hotels-item-title:active {
	color: rgb(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotels-item-info p {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.btn:hover,
.btn:focus {
	background-color: #669ec0;
}

.btn-dark {
	background-color: #766357;
}

.btn-dark:hover,
.btn-dark:focus {
	background-color: #604e43;
}